<!DOCTYPE html>
<title>
  {% block title %}
  {% endblock title %}
- Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<nav class="main-nav">
  <div class="left-nav">
    <h1>Flask Blog</h1>
    <p>Home</p>
    <p>About</p>
  </div>
  <div class="right-nav">
    <a class="right-nav" href="{{ url_for('auth.login') }}">Log In</a>
    <a class="right-nav" href="{{ url_for('auth.register') }}">Register</a>
  </div>
</nav>
<main>
  <section class="content">
    <header>
      {% block header %}
      {% endblock header %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}
    {% endblock content %}
  </section>
  <section class="sidebar">
    <h1>Our Sidebar</h1>
    <p>You can put any information here you'd like</p>
    <ul>
      <li>Latest Post</li>
      <li>Announcements</li>
      <li>Calendars</li>
      <li>etc</li>
    </ul>
  </section>
</main>
